{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "es5",
    "jsxSingleQuote": false,
    "jsxBracketSameLine": true,
    "arrowParens": "avoid"
}
